.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.notFoundH, .notFoundP {
    text-align: center !important;
    line-height: 2 !important;
}

.notFoundH {
  margin-bottom: 8px !important;
}

.notFoundImg {
  min-width: 330px;
  min-height: 330px;
  max-width: 40vw;
  max-height: 40vh;
  object-fit: contain;
}
